@font-face {
  font-family: "KionaRegular";
  src: url("../assets/fonts/KionaRegular.eot");
  src: url("../assets/fonts/KionaRegular.eot") format("embedded-opentype"),
    url("../assets/fonts/KionaRegular.woff2") format("woff2"), url("../assets/fonts/KionaRegular.woff") format("woff"),
    url("../assets/fonts/KionaRegular.ttf") format("truetype"),
    url("../assets/fonts/KionaRegular.svg#KionaRegular") format("svg");
}

ion-icon {
  padding-right: 5%;
  color: #fff;
}
.content-color {
  background-image: url("../../assets/imgs/background_image_2.png");
  background-repeat: none;
  background-size: cover;
  font-size: 30px !important;

  .menu-buttons {
    background-color: rgba(0, 0, 0, 0.2);
    color: #dfdfdf;
    padding-bottom: 5px;
    font-size: 20px !important;
  }
  .sign-out {
    position: absolute;
    bottom: 0px;
    border: none;
  }
  ion-list {
    margin-top: 105px;
  }
}
